ul.move-list {
  margin:0px;
}
li.piece {
  display:inline;
  font-size:50px;
  list-style:none;
  color:black;
  position:absolute;
  padding:10px;
}
.light {
width: 10px;
height: 10px;
margin: 0px;
background-color: #DDD;
}
.dark {
width: 10px;
height: 10px;
margin: 0px;
background-color: #707070;
}

/* POSITIONS */

#position15 {
  top:500px;
  left:465px;
}
#position14 {
  top:500px;
  left:405px;
}
#position13 {
  top:500px;
  left:345px;
}
#position12 {
  top:500px;
  left:285px;
}
#position11 {
  top:500px;
  left:225px;
}
