body {
  margin: 2em auto;
  text-align: center;
  font-family: helvetica, sans-serif;
}
#wrapper {
  margin: 0 auto;
  width: 500px;
}
pre {
  position:absolute;
  top:75px;
  left:800px;
  text-align:left;
}
a {
  font-size: 24px;
}
h1 {
  color: #333;
  text-align: center;
  margin-bottom: 0;
  border-bottom: 1px solid #dedede;
  padding: 0px 0px 10px 0px;
  margin-bottom:15px;
}
.board {
  margin: 10px 0;
}
input#myMove {
  width:120px;
  height:20px;
  border: 1px solid #333;
  box-shadow: 3px 3px 3px #888;
}
#controls {
  padding:20px 0px 0px 0px;
}
#controls a{
  padding:0px 5px 0px 5px;
  text-decoration:none;
}
#controls a:hover {
  text-decoration:underline;
}
#controls a:visited {
  color:blue;
}
